ul.pagination{
	float: right;
	margin-top: 1px;
}
.table tr>td:nth-of-type(1),tr>th:nth-of-type(1){
	width: 110px;
}
.content-header h1 a{
	color: #333;
}
th a, th a:hover{
	color: #333;
}
.table tr td:last-child{
	width: 50px;
}
.summary{
	margin-top: 13px;
	display: inline-block;
}
th a:after{
	content: "\e150";
	display: inline-block !important;
	float: right;
	margin-right: -20px;
	font-family: 'Glyphicons Halflings';
	opacity: 0.2;
}
th a.asc:after{
	content: "\e155";
	display: inline-block !important;
	float: right;
	margin-right: -20px;
	font-family: 'Glyphicons Halflings';
	opacity: 0.5;
}
th a.desc:after{
	content: "\e156";
	display: inline-block !important;
	float: right;
	margin-right: -20px;
	font-family: 'Glyphicons Halflings';
	opacity: 0.5;
}
.content-header h1 span{
	font-size: 15px;
	color: rgba(114, 114, 114, 0.88);
}
#seo-tab{
	display: none;
}
.seo-model-toggle{
	margin-bottom: 10px;
}
.box-body img{
	max-width: 800px;
}
.select2-container--krajee .select2-selection,
.select2-container--krajee .select2-search--dropdown .select2-search__field{
	border-radius: 0 !important;
}
.google-input{
	position: absolute;
	z-index: 99;
	width: 73%;
	margin-left: 14%;
	margin-top: 10px;
	height: 31px;
}
#googleMap{
	margin-bottom: 20px;
}
.flash-error{
	border: 1px solid #EA3A3A;
	padding: 3px;
	border-radius: 6px;
	color: red;
	background: rgba(255, 198, 198, 0.48);
}
.form-control-with-margin {
	margin-bottom: 15px;
}
.checkbox-list label{
	display: block;
}
.img-responsive {
	max-width: 100%!important;
}
.chart {
	position: relative;
	overflow: hidden;
	width: 100%;
}
.datetimepicker .table tr > td:nth-of-type(1),
.datetimepicker tr > th:nth-of-type(1) {
	width: 20px;
}